@import '~styles/layout';
@import '~styles/color';
hn-progress-indicator {
    @include layout-row();
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    div {
        margin: 3px;
        width: 8px;
        height: 8px;
        background-color: $primary-300;
        border-radius: 50%;
        animation: hn-progress-indicator-animation 2s infinite linear;
        transform-origin: center center;
        will-change: transform;
    }
}

@keyframes hn-progress-indicator-animation {
    0% {
        background-color: $primary-300;
        transform: scale(1);
    }
    50% {
        background-color: $primary-700;
        transform: scale(0.8);
    }
    100% {
        background-color: $primary-300;
        transform: scale(1);
    }
}