<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="theme-color" content="#3F51B5">
    <base href="/">

    <title>Custom Elements HN</title>
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <script>
        var loadScript = function (src) {
            var script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.head.appendChild(script);
        }

        if (!('Promise' in window)) {
            loadScript('/assets/promise.min.js');
        }

        var loadScript = function (e) {
            var s = document.createElement("script");
            s.src = e, s.async = !1, document.head.appendChild(s)
        };

        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/sw.js");
        }
    </script>
</head>

<body>
    <hn-app></hn-app>
</body>

</html>