<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <base href="/">

    <title>Custom Elements Hacker News</title>

    <meta name="theme-color" content="#3F51B5">
    <link rel="manifest" href="/assets/manifest.json?v=2">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=2">
    <meta name="theme-color" content="#3a53a4">


    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <% for (file of htmlWebpackPlugin.files.js) { %>
        <script type="text/javascript"><%= compilation.assets[file].source() %></script>
    <% } %>

    <script>
        var loadScript = function (src, cb) {
            var script = document.createElement('script');
            script.src = src;
            script.onload = cb;
            document.head.appendChild(script);
        }

        if (!('Promise' in window)) {
            loadScript('/assets/promise.min.js', window.bootstrapApplication);
        } else {
            window.bootstrapApplication();
        }

        <% if (htmlWebpackPlugin.options.sw) { %>
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register("sw.js");
            }
        <% } %> 

    </script>
</head>

<body>
    <hn-app></hn-app>
</body>

</html>