@import "~styles/color";

@mixin font-display4() {
    font-size: 112px;
    font-weight: 300;
}

@mixin font-display3() {
    font-size: 56px;
}

@mixin font-display2() {
    font-size: 45px;
}

@mixin font-display1() {
    font-size: 34px;
}

@mixin font-display1() {
    font-size: 34px;
}

@mixin font-headline() {
    font-size: 24px;
}

@mixin font-title() {
    font-size: 20px;
    font-weight: 500;
}

@mixin font-subheading() {
    line-height: 25px;
    font-size: 16px;
}

@mixin font-caption() {
    font-size: 12px;
}

@mixin font-link() {
    color: $primary-500;
    text-decoration: underline;
}