@import "~styles/responsive";

@mixin layout-column () {
    display: flex;
    flex-direction: column;
}

@mixin layout-row ($wrap: false) {
    display: flex;
    flex-direction: row;

    @if $wrap {
        flex-wrap: wrap;
    }
}

@mixin layout-column-grid() {
    @include layout-row(true);
    width: 100%;
    box-sizing: border-box;
}

@mixin layout-padding($topAndBottom: true) {
    @if $topAndBottom {
        @include size-xs() {
            padding: 8px;
        }

        @include size-sm() {
            padding: 16px;
        }

        @include size-md() {
            padding: 32px;
        }

        @include size-gt-md() {
            padding: 28px;
        }

        @include size-gt-md() {
            max-width: 1400px;
            margin: 28px auto;
        }
    } @else {
        @include size-xs() {
            padding: 0 8px;
        }

        @include size-sm() {
            padding: 0 16px;
        }

        @include size-md() {
            padding: 0 32px;
        }

        @include size-gt-md() {
            padding: 0 28px;
        }

        @include size-gt-md() {
            max-width: 1400px;
            margin: auto;
        }
    }
}

@mixin layout-colspan ($colspan-xs, $colspan-sm, $colspan-md, $colspan-lg, $colspan-xl) {
    box-sizing: border-box;

    @include size-xs() {
        padding: 8px;
        width: 100% / (4 / $colspan-xs);
    }

    @include size-sm() {
        padding: 8px;
        width: 100% / (8 / $colspan-sm);
    }

    @include size-md() {
        padding: 8px;
        width: 100% / (12 / $colspan-md);
    }

    @include size-lg() {
        padding: 12px;
        width: 100% / (12 / $colspan-lg);
    }

    @include size-xl() {
        padding: 12px;
        width: 100% / (12 / $colspan-xl);
    }
}
