$xs: 599px;
$sm: 1023px;
$md: 1439px;
$lg: 1919px;


@mixin size-xs () {
    @media (max-width: $xs) {
        @content;
    }
}

@mixin size-gt-xs() {
    @media (min-width: $xs + 1px) {
        @content;
    }
}

@mixin size-sm() {
    @media (min-width: $xs + 1px) and (max-width: $sm) {
        @content;
    }
}

@mixin size-gt-sm() {
    @media (min-width: $sm + 1px) {
        @content;
    }
}

@mixin size-md() {
    @media (min-width: $sm + 1px) and (max-width: $md) {
        @content;
    }
}

@mixin size-gt-md() {
    @media (min-width: $md + 1px) {
        @content;
    }
}

@mixin size-lg() {
    @media (min-width: $md + 1px) and (max-width: $lg) {
        @content;
    }
}

@mixin size-xl() {
    @media (min-width: $lg + 1px) {
        @content;
    }
}
