<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="theme-color" content="#3F51B5">
    <base href="/">

    <title>Custom Elements HN</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    <script>
        var loadScript = function (src) {
            var script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.head.appendChild(script);
        }

        if (!('fetch' in window)) {
            loadScript('/assets/fetch.js');
        }

        if (!('customElements' in window)) {
            loadScript('/assets/custom-elements.js');
            loadScript('{{#asset}}client-polyfilled.js{{/asset}}');
        } else {
            loadScript('{{#asset}}client.js{{/asset}}');
            
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js');
            }
        }
        
    </script>
    <style>

        body.loading {
            background-image: url();
            background-repeat: no-repeat;
            background-position: center center;
            background-color: rgb(239, 239, 239);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        noscript {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body class="loading">
    <noscript>
        <img width="192px" height="192px;" src="/assets/icons/192x192.png" alt="logo"/>
        <h3>This application needs Javascript to run.</h3>
    </noscript>
    <hn-app></hn-app>
</body>

</html>