@import "~styles/layout";
@import "~styles/font";

hn-user {
    @include layout-column-grid();
    @include layout-padding();
}

.content {
    width: 100%;
    background-color: white;
    padding: 24px;
    @include layout-column();
}

.id {
    @include font-title();
}

.text {
    margin-bottom: 0px;
}

.details {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}